---
import "aos/dist/aos.css";
import Badge from "../components/Badge.astro";
import ByMe from "../components/ByMe.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../icons/Briefcase.astro";
import ByMeIcon from "../icons/ByMe.astro";
import ProjectsIcon from "../icons/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Portafolio de Arnau Saborit - Desarrollador Web y Programador"
  description="Contrata a Arnau Saborit para crear tu aplicación web o móvil. Un desarrollador web especializado en la creación de aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer id="home" class="pt-36 pb-32">
      <Hero />
      <img
        src="desk.webp"
        alt="Desk"
        class="animate-bounced mx-auto mt-10 w-full drop-shadow-[0_25px_25px_rgba(255,255,255,0.05)]"
      />
    </SectionContainer>

    <SectionContainer class="pb-32" id="experience">
      <h2
        class="text-3xl font-semibold mb-20 flex gap-x-3 items-center"
        data-aos="fade-down"
        data-aos-duration="200"
      >
        <Briefcase class="size-6" />
        Experiencia
        <a
          href="https://es.linkedin.com/in/arnau-saborit-valencia-937269235"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Contrátame</Badge>
        </a>
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer class="pb-32" id="projects">
      <h2
        class="text-3xl font-semibold mb-20 flex gap-x-3 items-center"
        data-aos="fade-down"
        data-aos-duration="200"
      >
        <ProjectsIcon class="size-6" />
        Últimos proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="aboutme">
      <h2
        class="text-3xl font-semibold mb-20 flex gap-x-3 items-center"
        data-aos="fade-down"
        data-aos-duration="200"
      >
        <ByMeIcon class="size-6" />
        Sobre mí
      </h2>
      <ByMe />
    </SectionContainer>
  </main>
</Layout>
