---
import "aos/dist/aos.css";
import ByMe from "../components/ByMe.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Arnau Saborit | Desarrollador de software"
  description="Contrata a Arnau Saborit para crear tu aplicación web o móvil. Un desarrollador web especializado en la creación de aplicaciones únicas."
>
  <main class="px-6 animate-fade-in-down animate-delay-200">
    <SectionContainer class="pt-36">
      <Hero />
    </SectionContainer>

    <SectionContainer id="experience">
      <h2
        class="text-pretty text-2xl md:text-3xl mb-20 flex gap-3 items-center before:content-['01.'] before:text-white/80"
      >
        <span class="text-white/85 font-semibold">Dónde he trabajado</span>
        <span class="grow h-0.5 bg-white/10 ml-[0.6em]"></span>
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer class="lg:max-w-7xl md:max-w-3xl" id="projects">
      <h2
        class="text-pretty text-2xl md:text-3xl mb-20 flex gap-3 items-center before:content-['02.'] before:text-white/80"
      >
        <span class="text-white/85 font-semibold"
          >Algunos de mis proyectos favoritos</span
        >
        <span class="grow h-0.5 bg-white/10 ml-[0.6em]"></span>
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer class="lg:max-w-5xl md:max-w-2xl" id="aboutme">
      <h2
        class="text-pretty text-2xl md:text-3xl mb-20 flex gap-3 items-center before:content-['03.'] before:text-white/80"
      >
        <span class="text-white/85 font-semibold">Un poco sobre mí</span>
        <span class="grow h-0.5 bg-white/10 ml-[0.6em]"></span>
      </h2>
      <ByMe />
    </SectionContainer>
  </main>
</Layout>
