<div
  {...Astro.props}
  class="relative z-10 flex w-fit items-center rounded-full"
>
  <div
    class="flex items-center gap-x-3 relative z-50 rounded-xl bg-black border border-white/15 px-4 py-2"
  >
    <span class="block w-2.5 h-2.5 rounded-full bg-green-400 animate-pulse"
    ></span>
    <span
      class="text-center text-sm font-medium text-white/90 shadow-2xl transition"
    >
      <slot />
    </span>
  </div>
</div>
