<div
  class="w-full flex flex-col md:flex-row-reverse items-center justify-center space-x-0 space-y-14 md:space-x-reverse md:space-x-14 md:space-y-0"
>
  <img
    class="object-cover w-64 h-full shadow-2xl rounded-xl shadow-white/15 p-2 border-[1px] border-white/25 bg-white/10"
    src="me.webp"
    alt="Arnau Saborit"
    loading="lazy"
    data-aos="zoom-in"
  />
  <div class="flex flex-col space-y-4 text-white/80 text-base text-pretty">
    <p data-aos="fade-up" data-aos-duration="500">
      My name is Arnau, and I have nearly <span class="text-orange-400/90"
        >two years of academic experience in web development</span
      >. I have been engaged with technology all my life, starting from creating
      small scripts with Scratch to producing audiovisual content on YouTube.
    </p>

    <p data-aos="fade-up" data-aos-duration="800">
      I hold a <span class="text-orange-400/90"
        >Bachelor's degree in Multimedia, specialized in web development
      </span>
      through a Master's program. This deep understanding of the digital world enhances
      my strong analytical skills.
    </p>
    <p data-aos="fade-up" data-aos-duration="1000">
      I'm seeking new challenges in web development, particularly in
      <span class="text-orange-400/90"
        >creating and managing Angular applications.</span
      > I've developed robust, flexible, and scalable applications academically,
      so I'm ready to apply my knowledge to solve real-world problems in the market.
    </p>
  </div>
</div>
