<div
  class="w-full flex flex-col md:flex-row-reverse items-center justify-center space-x-0 space-y-14 md:space-x-reverse md:space-x-14 md:space-y-0"
  data-aos="fade-up"
>
  <img
    class="object-cover w-64 h-full shadow-2xl rounded-xl shadow-white/15 p-2 border-[1px] border-white/25 bg-white/10"
    src="me.webp"
    alt="Arnau Saborit"
    loading="lazy"
  />
  <div class="flex flex-col space-y-4 text-white/80 text-base text-pretty">
    <p>
      Mi nombre es Arnau, y tengo <span class="text-orange-400/90"
        >dos años de experiencia en el mundo del desarrollo web</span
      >. Durante toda mi vida he estado en contacto directo con la tecnología,
      desde la creación de pequeños scripts con Scratch hasta la producción de
      contenido audiovisual en YouTube.
    </p>

    <p>
      Soy licenciado <span class="text-orange-400/90"
        >en Multimedia y especializado en desarrollo web</span
      > a través de un máster. Esta comprensión profunda del mundo digital me aporta
      un sólido conocimiento acerca de distintas vertientes del desarrollo, como
      el diseño y la experiencia de usuario.
    </p>
    <p>
      Estoy buscando nuevos desafíos en el mundo del desarrollo web,
      particularmente en <span class="text-orange-400/90"
        >la creación y gestión de aplicaciones con Angular.</span
      > Hasta el momento, he desarrollado aplicaciones web escalables, robustas y
      flexibles, a nivel académico. Ahora estoy listo para aplicar mis conocimientos
      y resolver problemas reales en el mercado.
    </p>
  </div>
</div>
