---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: "Septiembre 2022",
    title:
      "Audiovisuales, diseños publicitarios y mantenimiento web - Freelance",
    company: "Optimal Solar Energy",
    description:
      "Diseño y creación de documentación gráfica, audiovisual y publicitaria para Optimal Solar Energy. Mantenimiento y actualización del sitio web de la empresa.",
    link: "https://optimalenergy.es/",
  },
  {
    date: "Veranos de 2018 a 2022",
    title: "Mantenimiento industrial",
    company: "Seida S.L.",
    description:
      "Trabajo temporal junto con mis estudios. Comenzando como obrero, progresé año tras año hasta liderar un pequeño equipo de mantenimiento en la empresa de mantenimiento eléctrico e industrial.",
  },
];
---

<ol class="relative border-s-2 border-[#ffffff26] ml-3">
  {
    EXPERIENCIE.map((experience) => (
      <li class="mb-10 ms-8">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
