---
import AstroIcon from "../icons/AstroIcon.astro";
import Brain from "../icons/Brain.astro";
import Comunication from "../icons/Comunication.astro";
import Illustrator from "../icons/Illustrator.astro";
import Leader from "../icons/Leader.astro";
import Net from "../icons/Net.astro";
import Photoshop from "../icons/Photoshop.astro";
import Premiere from "../icons/Premiere.astro";
import Tailwind from "../icons/Tailwind.astro";
import Team from "../icons/Team.astro";
import Typescript from "../icons/Typescript.astro";
import Vue from "../icons/Vue.astro";
import WordPress from "../icons/WordPress.astro";
import ExperienceItem from "./ExperienceItem.astro";

const TAGS = {
  COMUNICATION: {
    name: "Comunicación",
    icon: Comunication,
  },
  LEADER: {
    name: "Liderazgo",
    icon: Leader,
  },
  BRAIN: {
    name: "Pensamiento analítico",
    icon: Brain,
  },
  TEAM: {
    name: "Trabajo en equipo",
    icon: Team,
  },
  PHOTOSHOP: {
    name: "Photoshop",
    icon: Photoshop,
  },
  ILLUSTRATOR: {
    name: "Illustrator",
    icon: Illustrator,
  },
  PREMIERE: {
    name: "Premiere",
    icon: Premiere,
  },
  WORDPRESS: {
    name: "WordPress",
    icon: WordPress,
  },
  ASTRO: {
    name: "Astro",
    icon: AstroIcon,
  },
  VUE: {
    name: "Vue",
    icon: Vue,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: Typescript,
  },
  TAILWIND: {
    name: "Tailwind",
    icon: Tailwind,
  },
  NET: {
    name: ".Net",
    icon: Net,
  },
};

const EXPERIENCIE = [
  {
    date: "Tona, España | Noviembre 2024 - Actualmente",
    title: "Desarrollador de software",
    company: "Ausatel Sistemes, S.L.",
    description:
      "Creación de <span class='text-orange-400/85 font-bold'>soluciones digitales</span> para empresas líderes como <span class=' italic'>Grup Gepork</span> o <span class=' italic'>Clínica Bayés</span>, enfocadas en <span class='text-orange-400/85 font-bold'>mejorar su eficiencia </span> y <span class='text-orange-400/85 font-bold'>procesos internos</span>. " +
      "<span class=' font-bold'>Especializado</span> en <span class=' font-bold'>construir</span> <span class=' font-bold'>aplicaciones completas, robustas y escalables</span> utilizando <span class='text-orange-400/85 font-bold'>Vue 3</span>." +
      "<br/><br/>" +
      "• Desarrollo de aplicaciones <span class=' font-bold'>PWA</span> utilizando <span class='text-orange-400/85 font-bold'>Vue</span>, <span class='text-orange-400/85 font-bold'>TypeScript</span>, <span class='text-orange-400/85 font-bold'>Tailwind CSS</span> y bibliotecas como <span class='text-orange-400/85 font-bold'>DevExtreme</span> o <span class='text-orange-400/85 font-bold'>PrimeVue</span> para diseñar interfaces modernas y funcionales." +
      "<br/>" +
      "• Participación en <span class='text-orange-400/85 font-bold'>reuniones con clientes</span> para <span class=' font-bold'>presentar</span> productos, <span class=' font-bold'>recopilar</span> feedback y <span class=' font-bold'>adaptar</span> las soluciones a sus necesidades específicas." +
      "<br/>" +
      "• <span class='text-orange-400/85 font-bold'>Colaboración activa</span> en el desarrollo de <span class='text-orange-400/85 font-bold'>backend</span> junto con el equipo, <span class='text-orange-400/85 font-bold'>participando</span> en la creación y diseño de <span class=' font-bold'>APIs</span>, y buscando asegurar una integración eficiente." +
      "<br/>" +
      "• <span class='text-orange-400/85 font-bold'>Integración con SAP B1</span> para <span class=' font-bold'>optimizar</span> procesos empresariales y garantizar la <span class=' font-bold'>sincronización</span> de datos con aplicaciones personalizadas.",

    link: "https://www.ausatel.cat/",
    tags: [TAGS.TEAM, TAGS.VUE, TAGS.TYPESCRIPT, TAGS.TAILWIND, TAGS.NET],
  },
  {
    date: "En remoto | Septiembre 2021 - Noviembre 2024",
    title: "Audiovisuales, diseños publicitarios y mantenimiento web",
    company: "Optimal Solar Energy",
    description:
      "Diseño y creación de <span class='text-orange-400/85 font-bold'> documentación gráfica</span>, <span class='text-orange-400/85 font-bold'>edición y postproducción</span> de visuales y <span class='text-orange-400/85 font-bold'>desarrollo y mantenimiento web</span>. Desde la construcción de tripticos hasta la producción de spots publicitarios, <span class='font-bold'> puse en práctica en un entorno real </span> muchos de los conceptos aprendidos durante mi etapa de formación universitaria en multimedia." +
      "<br/><br/>" +
      "Me formé en una <span class='text-orange-400/85 font-bold'>metodología de trabajo independiente </span>, adquirí <span class='text-orange-400/85 font-bold'>habilidades comunicativas </span> y mejoré la <span class='text-orange-400/85 font-bold'>identidad visual </span> de la empresa, situándola en una de las <span class='font-bold'>más reconocidas a nivel nacional </span>en el sector de las energías renovables.",
    link: "https://optimalenergy.es/",
    tags: [
      TAGS.COMUNICATION,
      TAGS.PHOTOSHOP,
      TAGS.ILLUSTRATOR,
      TAGS.PREMIERE,
      TAGS.WORDPRESS,
      TAGS.ASTRO,
    ],
  },
  {
    date: "Gurb, España | Veranos de 2018 a 2022",
    title: "Mantenimiento industrial",
    company: "Seida S.L.",
    description:
      "<span class='font-bold'>Trabajo temporal veraniego junto con mis estudios </span>. Aprendí a desenvolverme en <span class='text-orange-400/85 font-bold'>situaciones complejas </span> y a solucionar <span class='text-orange-400/85 font-bold'>problemas reales</span>, llegando a <span class='text-orange-400/85 font-bold'>liderar</span> un pequeño equipo de mantenimiento en la empresa.",
    link: "https://www.seida.com/",
    tags: [TAGS.LEADER, TAGS.BRAIN],
  },
];
---

<ol class="relative">
  {
    EXPERIENCIE.map((experience) => (
      <li class="mb-10">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
