---
import Love from "../icons/Love.astro";
---

<footer class="text-center p-8 border-t-[1px] border-white/15">
  <div
    class="flex md:flex-row flex-col-reverse gap-y-4 items-center justify-between"
  >
    <span></span>
    <p class="text-sm text-pretty leading-5 text-white/80">
      Diseñado y desarrollado con
      <Love class="inline-block size-4 text-red-500 mx-1" /> por <span
        class="font-bold text-orange-400/85">arnausaboritcode</span
      >, usando <a
        class="text-orange-400/85 underline underline-offset-4 cursor-pointer"
        href="https://astro.build/"
        target="_blank"
        rel="noopener noreferrer">Astro</a
      > y <a
        class="text-orange-400/85 underline underline-offset-4 cursor-pointer"
        href="https://tailwindcss.com/"
        target="_blank"
        rel="noopener noreferrer">Tailwind CSS</a
      >
    </p>
    <button
      id="scrollToTopButton"
      title="Scroll to top"
      aria-label="Scroll to top"
      class="text-sm text-white/50 underline underline-offset-4 cursor-pointer"
      >Volver arriba</button
    >
  </div>
</footer>

<script>
  document
    .getElementById("scrollToTopButton")
    ?.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
</script>
