---
import Briefcase from "../icons/Briefcase.astro";
import ProjectsIcon from "../icons/Projects.astro";
import ByMeIcon from "../icons/ByMe.astro";
---

<header class="w-full fixed top-0 left-0 z-50">
  <nav
    class="w-full flex justify-center items-center gap-x-5 p-6 text-sm font-medium text-white/50"
  >
    <a
      href="/#experience"
      aria-label="experience"
      class="relative transition flex items-center gap-x-2 hover:text-white/90"
    >
      <Briefcase class="size-4" />
      Experiencia
    </a>
    <a
      href="/#projects"
      aria-label="projects"
      class="relative transition flex items-center gap-x-2 hover:text-white/90"
    >
      <ProjectsIcon class="size-4" />

      Proyectos
    </a>
    <a
      href="/#aboutme"
      aria-label="aboutme"
      class="relative transition flex items-center gap-x-2 hover:text-white/90"
    >
      <ByMeIcon class="size-4" />
      Sobre mí
    </a>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const sections = document.querySelectorAll<HTMLElement>("section");
    const navLinks =
      document.querySelectorAll<HTMLAnchorElement>("header nav a");

    const changeActiveLink = () => {
      let currentSection = sections[0];

      sections.forEach((section) => {
        const sectionTop = section.offsetTop;
        const sectionHeight = section.offsetHeight;
        const scrollPosition = window.scrollY + window.innerHeight / 2;

        if (
          scrollPosition >= sectionTop &&
          scrollPosition < sectionTop + sectionHeight
        ) {
          currentSection = section;
        }
      });

      const activeLink = document.querySelector(
        `nav a[href="/#${currentSection.id}"]`
      );

      navLinks.forEach((link) => link.classList.remove("text-white/90"));

      if (activeLink) {
        activeLink.classList.add("text-white/90");
      }
    };

    changeActiveLink();
    window.addEventListener("scroll", changeActiveLink);
  });
</script>
