<header
  class="fixed top-0 z-50 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex justify-center items-center gap-x-10 px-4 py-2 text-sm font-medium rounded-full text-white/80 border-white/25"
  >
    <a
      href="/#home"
      aria-label="home"
      class="relative block transition hover:text-orange-400/90">Inicio</a
    >
    <a
      href="/#experience"
      aria-label="experience"
      class="relative block transition hover:text-orange-400/90">Experiencia</a
    >
    <a
      href="/#projects"
      aria-label="projects"
      class="relative block transition hover:text-orange-400/90">Proyectos</a
    >
    <a
      href="/#aboutme"
      aria-label="aboutme"
      class="relative block transition hover:text-orange-400/90">Sobre mí</a
    >
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const sections = document.querySelectorAll<HTMLElement>("section");
    const navLinks =
      document.querySelectorAll<HTMLAnchorElement>("header nav a");

    const changeActiveLink = () => {
      let currentSection = sections[0];

      sections.forEach((section) => {
        const sectionTop = section.offsetTop;
        const sectionHeight = section.offsetHeight;
        const scrollPosition = window.scrollY + window.innerHeight / 2;

        if (
          scrollPosition >= sectionTop &&
          scrollPosition < sectionTop + sectionHeight
        ) {
          currentSection = section;
        }
      });

      const activeLink = document.querySelector(
        `nav a[href="/#${currentSection.id}"]`
      );

      navLinks.forEach((link) => link.classList.remove("text-orange-400"));

      if (activeLink) {
        activeLink.classList.add("text-orange-400");
      }
    };

    changeActiveLink();
    window.addEventListener("scroll", changeActiveLink);
  });
</script>
