---
import LinkedInIcon from "../icons/LinkedIn.astro";

import MailIcon from "../icons/Mail.astro";

import SocialBadge from "./SocialBadge.astro";
---

<div class="w-full flex flex-col justify-center items-center">
  <h1
    class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row items-center gap-x-4 pb-6 lg:pb-4"
  >
    <!-- <HandIcon class="animate-wave size-16 md:size-20" /> -->
    Hola, soy Arnau Saborit
  </h1>
  <h2
    class="text-lg text-center text-white/80 lg:text-xl text-wrap max-w-[750px]"
  >
    <span class="text-orange-400/85 font-bold"
      >Ingeniero de software y experto en multimedia
    </span>
    de Barcelona, España. Especializado en el desarrollo de aplicaciones únicas utilizando
    Angular.
  </h2>
  <nav class="flex flex-row gap-5 mt-6 flex-wrap">
    <SocialBadge href="mailto: arnausaboritvalencia@gmail.com">
      <MailIcon class="size-6" />
      Contacto
    </SocialBadge>
    <SocialBadge
      href="https://www.linkedin.com/in/arnau-saborit-valencia-937269235/"
    >
      <LinkedInIcon class="size-6" />
      LinkedIn
    </SocialBadge>
  </nav>
</div>
