---

---

<a
  class="flex justify-center items-center p-2 rounded-xl text-sm hover:bg-white/15 transition duration-300 relative group/badge"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
