---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-block md:text-lg text-base text-pretty text-right text-orange-400/85 font-semibold hover:opacity-80 transition duration-300"
>
  <slot />
</a>
