---
import Angular from "../icons/Angular.astro";

import Tailwind from "../icons/Tailwind.astro";

import LinkInline from "./LinkInline.astro";

import Arrow from "../icons/Arrow.astro";
import Laravel from "../icons/Laravel.astro";
import Mysql from "../icons/Mysql.astro";
import Nestjs from "../icons/Nestjs.astro";
import Postgre from "../icons/Postgre.astro";
import ProjectsItem from "./ProjectsItem.astro";

const TAGS = {
  ANGULAR: {
    name: "Angular",
    icon: Angular,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    icon: Tailwind,
  },
  LARAVEL: {
    name: "Laravel",
    icon: Laravel,
  },
  NESTJS: {
    name: "NestJS",
    icon: Nestjs,
  },
  MYSQL: {
    name: "MySQL",
    icon: Mysql,
  },
  POSTGRESSQL: {
    name: "PostgresSQL",
    icon: Postgre,
  },
};

const PROJECTS = [
  {
    title: "PopCorn Cinema",
    subtitle: "Una plataforma de streaming de películas",
    description:
      "Una aplicación web que se presenta como un <span class='text-orange-400/85 font-bold'>servicio de streaming en línea</span> para películas. Su objetivo es proporcionar una <span class='text-orange-400/85 font-bold'>interfaz intuitiva</span> para <span class=' font-bold'>presentar</span>, <span class=' font-bold'>organizar</span> y <span class=' font-bold'>filtrar</span> información sobre contenido cinematográfico de manera efectiva y satisfactoria para los usuarios.",
    link: "https://popcorncinema.vercel.app/welcome",
    github: "https://github.com/arnausaboritcode/TFM",
    image: "/projects/popcorn.webp",
    tags: [TAGS.ANGULAR, TAGS.TAILWIND, TAGS.LARAVEL, TAGS.MYSQL],
  },
  {
    title: "The Dev Hunt",
    subtitle: "Recursos para desarrolladores",
    description:
      "Dev Hunt <span class=' font-bold'>recoge y unifica en un solo lugar</span> todo tipo de herramientas y recursos para desarrolladores, desde <span class='text-orange-400/85 font-bold'>extensiones</span> hasta <span class='text-orange-400/85 font-bold'>paletas de colores</span>, pasando por <span class='text-orange-400/85 font-bold'>herramientas de hosting</span> y <span class='text-orange-400/85 font-bold'>plantillas de diseño</span>. Todo lo que un desarrollador necesita para su día a día. <span class='font-bold'>Aún está en desarrollo</span>, pero se puede consultar la versión actual.",
    link: "https://thedevhunt.vercel.app/tools",
    github: "https://github.com/arnausaboritcode/DevTools",
    image: "/projects/devhunt.webp",
    tags: [TAGS.ANGULAR, TAGS.TAILWIND, TAGS.NESTJS, TAGS.POSTGRESSQL],
  },
];
---

<ol class="relative">
  {
    PROJECTS.map((project) => (
      <li class="mb-20">
        <ProjectsItem {...project} />
      </li>
    ))
  }
</ol>

<div class="w-full flex items-center justify-end gap-1 mt-20 px-6">
  <LinkInline href="https://github.com/arnausaboritcode">
    <span class="text-white/85">Visita más de mis proyectos</span> en GitHub
  </LinkInline>
  <Arrow class="size-7 text-orange-400/85" />
</div>
