<div
  id="tooltip"
  class="absolute top-full mt-2 z-10 inline-block px-3 py-2 text-sm font-medium text-white/90 transition-all duration-300 bg-neutral-800 rounded-lg shadow-sm opacity-0 scale-0 group-hover/badge:opacity-100 group-hover/badge:scale-100 before:w-4 before:h-4 before:rotate-45 before:bg-neutral-800 before:absolute before:z-[-1] before:-top-1 before:left-0 before:right-0 before:mx-auto"
>
  <slot />
</div>
