---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import "@fontsource-variable/onest";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
      }
      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }
      body {
        background-color: black;
        color: #ffff;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
      }
      body::before {
        background-image: url("/pattern.svg");
        background-blend-mode: difference;
        background-position-x: 50%;
        background-position-y: top;
        background-repeat: no-repeat;
        content: "";
        height: 100%;
        inset: 0;
        opacity: 0.8;
        position: absolute;
        z-index: -1;
        width: 100%;
      }
      @media only screen and (max-width: 768px) {
        main {
          overflow: hidden;
        }
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
      header nav {
        animation: blur linear both 0.5s;
        animation-timeline: scroll();
        animation-range: 0 150px;
      }

      @keyframes blur {
        to {
          background-color: black;
        }
      }
    </style>
    <script>
      import { aosInit } from "../js/aos.js";
      aosInit();
    </script>
  </body>
</html>
